.home_about{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.home_about_content{
    display: flex;
    justify-content:space-evenly;
}
.home_about_content h1{
    font-size: 2.2rem;
    font-weight: 400;
    max-width: 700px;
    line-height: 50px;
    
}
.home_about_content p{
    font-size: 1rem;
    font-weight: 500;
    max-width: 350px;
    line-height: 32px;
    
}
.home_about_btn{
    margin-top: 80px;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    z-index: 1;
    position: relative;
    border: 0px;
    font-size: 1.2rem;
    font-weight: 500;
    left: 70%;
    transition: 1s;
    color: var(--text-white);
    background-color:var(--colour-dark);
}
.home_about_btn:hover{
    background:var(--blue);
    color: white;

}
@media screen and (max-width: 800px){
    .home_about_content h1{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 40px;
        max-width: 400px;
        
    }
    .home_about_content p{
        font-size: 1rem;
        font-weight: 500;
        max-width: 300px;
        line-height: 30px;
        
    }
    .home_about_btn{
        margin-top: 80px;
        width: 150px;
        height: 150px;
        font-size: 1.2rem;
        left: 70%;
    }

}
@media screen and (max-width: 600px){
    .home_about{
        display: flex;
        align-items: center;
    }
    .home_about_content{
        flex-direction: column;
        justify-content: center;
    }
    .home_about_content h1{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 40px;
        max-width: 400px;
        
    }
    .home_about_content p{
        font-size: 1rem;
        font-weight: 500;
        max-width: 300px;
        line-height: 25px;
        margin-top: 35px;
        
    }
    .home_about_btn{
        margin-top:0px;
        width: 120px;
        height: 120px;
        font-size: 1rem;
        left: 120%;
    }
    #tilt {
        background-color: transparent !important;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    }
    
}
@media screen and (max-width: 400px){
    .home_about_content h1{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 40px;
        max-width: 320px;
        
    }
    .home_about_content p{
        font-size: 1rem;
        font-weight: 500;
        max-width: 310px;
        line-height: 25px;
        margin-top: 35px;
        
    }
    .home_about_btn{
        margin-top:0px;
        width: 120px;
        height: 120px;
        font-size: 1rem;
        left: 70%;
    }

}