.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 15000px;
    margin-top: -60px;
    font-family: Roboto;
   
}
.home__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 100vh;
}
.home__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
}
.home__content h1{
    font-family: Roboto;
    font-weight: bolder;
    font-size: 39px;
    letter-spacing: 0.04em;
    margin-bottom: -10px;
}
.p__tags{
    display: flex;
}
.p__tags p{
    font-family: Roboto;
    font-weight: 700;
    font-size: 23px;
    line-height: 40px;
    letter-spacing: 0.04em;
    /* color: #000000; */
    color: var(--text-secondary);
}
.p__tagsTwo{
    margin-left: 20px;
}

.Home__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:1000px;
    height: 380px;
    background: var(--box)
}

.box__content{
    display: flex;
    flex-wrap: wrap;
}
.Box__contentOne{
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin-right: 150px;
}
.Box__contentOne p:nth-child(1){
    font-family: Roboto;
    font-weight: 600;
    font-size: 34px;
    color: #000000;
    margin-bottom: -10px;
}
.Box__contentOne p:nth-child(2){
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #141414;
}
.home__image{
    width: 280px;
    height: 320px;
    margin-left:200px;
    box-shadow: 2px 3px 14px 1px rgba(0, 0, 0, 0.77);
border-radius: 4px;
}
.social__media{
    display: flex;
}
.social__mediaIcons{
    display: flex;
    flex-direction: column;
    margin-left: -200px;
}
.social__mediaIcons a {
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.2s;
}
.social__mediaIcons a:hover{
    transform: translateY(-7px);
}
/* about container */
.about__container{
    display: flex;
    height: 100vh;
    /* justify-content: center; */
    /* align-items: center; */
}
.about__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:1000px;
    height: 380px;
    background: var(--about-box);
}
.about__content h1{
    margin-left: -800px;
    font-family: Roboto;
font-weight: 700;
font-size: 52px;
letter-spacing: 0.04em;
margin-bottom: -5px;
}
.box__bio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box__bio h2{
font-weight: bolder;
font-size: 50px;
letter-spacing: 0.04em;
color:var(--text-primary);
/* margin-bottom: 20px; */
}
.box__bio .blue{
    color: #34A8B8;
}
.box__bio p{
  
font-style: normal;
font-weight:bolder;
font-size: 23px;
line-height: 29px;
color: var(--text-secondary);
/* width: 500px; */
padding: 0 50px;
}
.about__content button{
font-weight: 600;
margin-top: 40px;
font-size: 25px;
line-height: 29px;
letter-spacing: 0.04em;
/* color: #000000; */

width:300px;
height: 60px;
background: #FFFFFF;
box-shadow: 1px 2px 10px 4px rgba(0, 0, 0, 0.58);
border-radius: 23px;
transition: 0.2s;
}
.about__content button:hover{
    color: white;
    background: black;
}

/* media querie */

/* tablets */
@media screen and (max-width: 800px){
    .home__content{
        align-items: center;
        margin-right: 0;
    }
    .Home__box{
        width:600px;
        height: 300px;
        margin-bottom: 30px;
    }
    .Box__contentOne{
        margin-right: 100px;
    }
    .Box__contentOne p:nth-child(1){
        font-family: Roboto;
        font-weight: 600;
        font-size: 34px;
        margin-bottom: -10px;
    }
    .home__image{
        width: 180px;
        height: 220px;
        margin-left:0;
    }
    .social__mediaIcons{
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }
    .social__mediaIcons a {
        margin-left: 5px;
        margin-right: 5px;
    }
    /* about */
    .about__box{
        width:600px;
        height: 300px;
        margin-bottom: 10px;
    }
    .about__content h1{
    font-size: 47px;
    margin-left: 0px;
    margin-bottom: 20px;
    }
    .box__bio p{
        font-size: 18px;
        color: #5E5E5E;
        width: 300px;
        padding: 0;
    }
    .box__bio h2{
            font-weight: bolder;
            font-size: 45px;
    }
}
/* small devices */
@media screen and (max-width: 400px){
    .home__container{
        margin-top: 30px;
    }
    .home__content h1{
        font-size: 30px;
        width: 300px;
        margin-bottom: -10px;
    }
    .p__tags p{
        font-size: 19px;
        display: flex;
        flex-direction: column;
    }
    .p__tagsTwo{
        margin-left: 5px;
    }
    .box__content{
        align-items: center;
        justify-content: center;
        margin-top: -20px;
    }
    .Home__box{
        width:300px;
        height: 300px;
        margin-bottom: 15px;
        margin-top: -15px;
    }
    .Box__contentOne{
        margin-right: 0px;
    }
    .Box__contentOne p:nth-child(1){
        font-size: 20px;
        margin-bottom: -10px;
    }
    .Box__contentOne p:nth-child(2){
        font-size: 20px;
        margin-bottom: 10px;
    }
    .home__image{
        width: 150px;
        height: 180px;
        margin-left:0;
    }

    /* about */

    .about__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about__box{
        flex-direction: column;
        width:300px;
        height: 400px;
    }
    
    .about__content h1{
        font-size: 40px;
        margin-left: 0px;
        margin-bottom: 5px;
    }
        .box__bio {
            margin-bottom: -10px;
        }
        .box__bio h2{
            font-size: 40px;
            margin-bottom: 5px;
    }
        .box__bio p{
            font-size: 15px;
            color: var(--text-secondary);
            width: 250px;
            padding: 0;
    }
    .about__content button{
        margin-top: 70px;
        font-size: 18px;
        line-height: 29px;
        width:160px;
        height: 34px;
    }
     
}