@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400;500&display=swap');
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

:root {
    --text-secondary: rgb(255, 255, 255);
    --blue:#2246FF;
    --light-grey:#676767;
    --colour-dark:#1C1D21;
  }

  .App{
    color: var(--colour-dark);
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
  


  /* [data-theme='dark'] {
    color: rgb(255, 255, 255);
    --background:#1B1B1D;
    --text-primary: #ffffff;
    --text-secondary: #000000;
    --social-media: rgb(255, 255, 255);
    --button:linear-gradient(93.28deg, rgba(14, 14, 14, 0.76) -14.84%, rgba(19, 19, 19, 0.84) 115.77%);


 
  } */