:root {
    /* --background: #ffffff; */
    color: black;
    --background: white;
    --box: #B3C5D8;
    --about-box:#C0F7FF;
    --text-primary: black;
    --text-secondary: rgb(0, 0, 0);
    --social-media: black;
  }
  
  [data-theme='dark'] {
    color: rgb(255, 255, 255);
    /* --background: #1E1C1C; */
    --background:  linear-gradient(93.35deg, #00153F 1.83%, #220421 96.94%);
    --box:#9A9A9A;
    --about-box:#3A3A3A;
    --text-primary: #ffffff;
    --text-secondary: #cfcccc;
    --social-media: rgb(255, 255, 255);
 
  }

  .App {
    background: var(--background);
    color: var(color);
  }
  