@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
.header{
    height: 100px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: 100;
    /* background-color:rgba(255, 255, 255, 0.585); */
    font-family: 'Mukta', sans-serif;
}
.header a{
    text-decoration: none;
}
.header__logo{
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
    object-fit: contain;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--text-primary);
}
.darkMode{
    margin-top: 20px;
    width: 100px;
    max-height: 40px;
    font-family: 'Mukta', sans-serif;
    background: #FFFFFF;
    border: 0px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.38);
    border-radius: 13px;
    transition: 1s;
}
.darkMode:hover{
    background-color: black;
    color: white;
}
.header__nav{
    display: flex;
}
.header__nav a{
    text-decoration: none;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    margin-top: 20px;
}
.header__option h1{
font-weight: 400;
font-size: 31px;
color: var(--text-primary);
}
.header__option h1:hover{
    color: rgb(133, 133, 133);
}
.hambuger-menu{
    display: none;
}
.hambuger-menu a{
    color: var(--text-primary);
}

/* media querie */
@media screen and (max-width: 800px){
    .hambuger-menu{
        display: block;
    }
    .header__nav{
        display: none;
    }
    .header__option{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .header__navPhone{
        display:flex;
        flex-direction: column;
        position: absolute;
          height: 13rem;
          width: 100%;
           background: linear-gradient(180deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 250, 250, 0) 100%);
          backdrop-filter: blur(50px);
          box-shadow: 3px 4px 23px rgba(0, 0, 0, 0.25);
          top: 80px;
          right: 0%;
          z-index: 10;
          transform-origin: top;
      }
      .header__logo{
        width: 100px;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 1.9rem;
    }
    .darkMode{
        margin-top: 10px;
        width: 80px;
        max-height: 30px;
    }
      .hambuger-menu {
          margin: 10px;
      }

}