.header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: 100;
    transition: 0.5s;
}
.header.active{
    background:rgb(255, 255, 255);
    z-index: 100;
}

.header a{
    text-decoration: none;
}
.header__logo{
    max-width: 500px;
    margin-top: 35px;
    margin-left: 50px;
    object-fit: contain;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--text-secondary);
  
}
.header__nav{
    display: flex;
    margin-right: 60px;
}
.header__nav a{
    text-decoration: none;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    margin-top: 0px;
    transition: 0.5s;
    max-height: 60px;
}

.header__option h1{
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 2PX;
    margin-top: 30px;
    color: var(--text-secondary);
    transition: 0.5s;
}
.header__option h1:hover{
    color: var(--text-compliment);
    transform:translateY(-5px);
}

.hambuger-menu{
    display: none;
    
}
.hambuger-menu a{
    
}
.btn{
    font-size: 1.4rem;
    margin-top: -7px;
    
}

/* media querie */
@media screen and (max-width: 800px){
    .hambuger-menu{
        display: block;
    }
    .header__nav{
        display: none;
    }
    .header__option{
        display: flex;
        align-items: left;
        margin-top: 20px;
       
    }
    .header__navPhone{
        display:flex;
        flex-direction: column;
        position: absolute;
        height:39rem;
        width: 100%;
        top: 55px;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.085);
        transition: 1s;
        backdrop-filter: blur(27.5px);
        transform-origin: top;

       
      }
      .header__logo{
        max-width: 500px;
        margin-top: 15px;
        margin-left: 20px;
        font-size: 1.2rem;
    }
      .hambuger-menu {
          margin-top: -3px;
          margin-right: 5px;
      }
    .header__option h1{
        font-size: 2.5rem;
        font-weight: 400;
        color: var(--text-secondary);
    }

}
@media screen and (max-width: 600px){
    .header{
        margin-top: 8px;
    }
    .header__logo{
        max-width: 500px;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .hambuger-menu{
        display: block;
        margin-top: 10px;
    }
}
@media screen and (max-width: 400px){
    .header{
        margin-top: 8px;
    }
    .header__logo{
        max-width: 500px;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .hambuger-menu{
        display: block;
        margin-top: 5px;
    }
    

}