.project{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120vh;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    font-family: 'Cormorant Garamond', serif;
}
.project_content{
    display: flex;
    justify-content: center;
}
.project_row{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;
}
.project_row a{
    text-decoration: none;
    color:var(--primary);
}

/* media querie */
@media screen and (max-width: 800px){
    .project_row{
      flex-wrap: wrap;
    }
    .project_row{
        margin-top: 0px;
    }

}